DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=
DATABASE_URL=
ETSY_API_KEY=
ETSY_SHARED_SECRET=
ETSY_REDIRECT_URI=http://127.0.0.1:8010/integrations/etsy/callback/
FEELOOM_TOKEN_ENCRYPTION_KEY=
RENDER_EXTERNAL_HOSTNAME=
